html,
body {
    margin: 0;
    padding: 0;
}

.bodyArea {
    max-width: 1920px !important;
    margin: 0 !important;
}

.fontawesome-i2svg-active .fontawesome-i2svg-complete {
    max-width: 1920px;
    margin: 0 !important;
}

div.navContainer {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    padding-right: 0;
}

div.navRow {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    padding: 12px;
}

div.col1Nav {
    width: 15%;
}

div.col2Nav {
    width: 85%;
    padding-right: 30px;
}

div.logoContainer {
    background-size: cover;
    background-repeat: no-repeat;
}

.logoBrand {
    height: auto;
    max-width: 177px;
}

.navLinks {
    font-family: "Manrope";
    text-align: left;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    white-space: nowrap;
    font-size: 18px;
    color: #2a2b33;
    font-weight: bold;
}

.col2Nav {
    float: right;
    text-align: end;
}

.col2Nav::after {
    clear: both;
}

a.navLinks,
.navLinks>a {
    padding: 0 45px 0 0;
    color: #2a2b33;
    text-decoration: none;
    word-spacing: 0;
}

a.navBtn {
    background-color: rgb(6, 79, 122);
    color: #fff;
    text-align: left;
    white-space: nowrap;
    font-family: "Manrope";
    /* font-size: 16px; */
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em;
    border: 2px solid #064f7a;
}

.blankSpace {
    height: 500px;
}


/* ######################## */


/* BANNER SECTION  STYLING */


/* ######################## */

.heroSection {
    background-image: url('img/headerImage.png');
    background-position: center top;
}

div.heroContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 250px 0 0;
}

.heroContent h1 {
    font-size: 60px;
    font-family: "Manrope";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.15;
    text-align: left;
    white-space: nowrap;
    line-height: 69px;
    padding-bottom: 3%;
}

.heroBtn a {
    line-height: 20px;
    color: #064f7a;
    font-weight: bold;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 18px 33px;
    margin-right: 15px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.heroBtn1 {
    color: #064f7a;
}

a.heroBtn2 {
    margin-left: 15px;
    border: 2px solid #fff;
    background-color: #064f7a;
    color: #fff;
}

div.heroBtn {
    padding-top: 1rem;
    padding-bottom: 150px;
}


/* ######################## */


/* CAROUSEL SECTION  STYLING */


/* ######################## */

.carouselContainer {
    margin: 0 auto;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #2980B9, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #2980B9, #FFFFFF, #6DD5FA, #2980B9);
}

h1.carouselHeading {
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    padding: 8rem 0;
    font-weight: bold;
    font-family: 'Manrope';
    color: #064f7a;
    text-shadow: 6px 6px 56px #064f7a;
}

.right.carousel-control,
.left.carousel-control {
    background: transparent;
    opacity: 1;
}

img {
    border: 0;
    margin: auto;
    max-width: 50%;
}

.carousel-inner>.item>img {
    max-width: 50%;
}

.item {
    padding-bottom: 10%;
}

.carousel-caption {
    color: #2A2B33;
}

.carousel-caption h3 {
    font-size: 30px;
}

.carousel-caption p {
    font-size: 18px;
}

.carousel-indicators li {
    border: 2px solid #161686;
}

.carousel-indicators li.active {
    background: #161686;
}

.carousel-indicators {
    z-index: 1;
}


/* ######################## */


/* FOOTER SECTION  STYLING */


/* ######################## */

.footerContainer {
    background-color: rgb(42, 43, 51);
    margin-bottom: 0;
}

.footerInBox {
    display: flex;
    color: white;
    font-family: "Manrope";
    padding: 100px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.col1,
.col2,
.col3 {
    width: 20%;
}

.col4 {
    width: 40%;
}

.col1 {
    text-align: left;
}

.footerImg {
    display: block;
    max-width: 177px;
    height: auto;
    margin: 0;
}

.col1 p {
    margin: 0;
    padding: 14px 0 21px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

div.line1,
div.line2,
div.line3 {
    width: 1px;
    /* height: 250px; */
    background-color: rgb(255, 255, 255);
    opacity: 0.11;
    /* margin-top: 100px; */
    border-left: 1px solid rgb(255, 255, 255);
}

.col2 div.col2list {
    list-style: none;
    margin: 0;
    padding-left: 70px;
}

div.col2list p a {
    font-size: 16px;
    line-height: 16px;
    padding-top: 6px;
    color: #fff;
}

a#specialLink {
    text-decoration: underline;
    color: 96ab5c !important;
}

.footerMENU {
    font-size: 18px;
    font-family: "Manrope";
    color: #96ab5c;
    font-weight: bold;
    line-height: 1.111;
    text-align: left;
    margin-top: 0;
    padding-bottom: 12px;
}

.col3 div.col3list {
    font-family: 'Manrope';
    margin: 0;
    padding-left: 70px;
}

.col3list h3 {
    font-family: 'Manrope';
    font-size: 16px;
    margin-bottom: 0;
}

.col3list a {
    font-size: 16px;
    color: #96ab5c;
    text-decoration: underline;
}

h3.specialH3 {
    color: #96ab5c;
    padding-bottom: 12px;
}

a.contactFontIconFooter {
    padding-right: 20px;
}

.col4List {
    margin-top: 0;
    padding-left: 70px;
}

.col4List h3 {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 35px;
}

.col4List a {
    background: #96ab5c;
    text-decoration: none;
    padding: 14px 25px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
}
