html,
body {
    margin: 0;
    padding: 0;
}

.bodyArea {
    max-width: 1920px !important;
    margin: 0 !important;
}

.fontawesome-i2svg-active .fontawesome-i2svg-complete {
    max-width: 1920px;
    margin: 0 !important;
}

div.navContainer {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    padding-right: 0;
}

div.navRow {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fff;
    padding: 12px;
}

div.col1Nav {
    width: 15%;
}

div.col2Nav {
    width: 85%;
}

div.logoContainer {
    background-size: cover;
    background-repeat: no-repeat;
}

.logoBrand {
    height: auto;
    max-width: 177px;
}

.navLinks {
    font-family: "Manrope";
    text-align: left;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    white-space: nowrap;
    font-size: 18px;
    color: #2a2b33;
    font-weight: bold;
}

.col2Nav {
    float: right;
    text-align: end;
}

a.navLinks,
.navLinks>a {
    padding: 0 2.5em 0 0;
    color: #2a2b33;
    text-decoration: none;
    word-spacing: 0;
}

a.navBtn {
    background-color: rgb(6, 79, 122);
    color: #fff;
    margin-left: 2rem;
    text-align: left;
    white-space: nowrap;
    font-family: "Manrope";
    /* font-size: 16px; */
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em;
    border: 2px solid #064f7a;
    margin-right: 1.5rem;
}

.blankSpace {
    height: 500px;
}
